#flickrSearch{
  width: 100%;
  text-align: center;
}
.searchBtn{

}
.scrollOver{
  height: 470px;
  overflow-y: scroll;
  margin-top: 20px;
}

#photosDiv{
  width: 90%;
  margin: 0 auto;
}

#photos{
  width: 150px;
  height: 150px;
  float: left;
  padding: 5px;
}

#photos:hover{
  cursor: zoom-in;
}
.loading{
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 500px auto 0 auto;
  font-size: 2.0em;
  width: 180px;
  height: 40px;
  color: #1F6BDD;
  font-weight: bold;
  background-color: rgba(0, 0, 0, .9);
}
#selectedImg{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

#selectedImg::before{
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: opacity .2 cubic-bezier(0.65, 0.05, 0.36, 1);
  opacity: .7;
}
.zoom{
  position: absolute;
  width: 80%;
  height: 80%;
  z-index: 2;
  top: 0;
  left: 0;
}
.z2{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 30px auto;
}
.zoom:hover{
  cursor: zoom-out;
}
