<div id="flickrSearch">
  <h1> Flickr Photo Search</h1>
  <form class="searchForm">
    <input [(ngModel)]='searchStr' name='search' placeholder="I'm searching for" appAutofocus>
    <button class="serchBtn" (click)='searchPhoto()'>Search</button>
  </form>
  <div id="scrollDiv" class="scrollOver" infiniteScroll [infiniteScrollDistance]="1"
   [infiniteScrollThrottle]="300" (scrolled)="onScroll()"
    [scrollWindow]="false">
  <div *ngIf='show'>
      <div id="photosDiv" *ngFor="let photo of photos">
          <div id="photos">
              <img (click)='onSelectImg(photo.getUrl)' src='{{photo.getUrl}}'>
          </div>
      </div>
      <div class="loading" *ngIf="showLoading">Loading...</div>
      <div id="selectedImg" *ngIf='showSelected'>
        <div class="zoom">
          <img class="z2" (click)='showSelected=false' src='{{a}}'>
        </div>
      </div>
    </div>
  </div>
</div>
